<!DOCTYPE html>
<html>
<head>
  <title>WatsonBlog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <script src="http://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="navbar">
			<%= link_to "Home", all_posts_path %>  |
			<%= link_to "Create a post", post_new_path %>  |
		</div>
		<%= yield %>
	</div>
</body>
</html>
